/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align elements */
    padding: 20px;
}

/* Tabs Styles */
.tabs {
    display: flex;
    justify-content: flex-start; /* Align tabs to the start */
    border-bottom: 2px solid #ccc; /* Add a bottom border for separation */
    margin-bottom: 20px; /* Space between tabs and container */
}

.tabs button {
    padding: 1rem;
    border: none;
    background-color: transparent; /* Make the background transparent */
    cursor: pointer;
    border-bottom: 2px solid transparent; /* Bottom border for active tab */
    transition: background-color 0.3s ease, border-bottom 0.3s ease; /* Smooth transition */
    margin-right: 10px; /* Space between buttons */
}

.tabs button.active {
    background-color: #ccc; /* Active tab background color */
    border-bottom: 2px solid #007BFF; /* Underline for active tab */
}

/* Container */
.container {
    width: 100%;
    max-width: 1400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
}

/* Other Styles (as previously defined) */
.allPlots {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: auto;
    width: 100%;
}

.plot {
    width: 100%;
    height: 100%;
    min-width: 0; 
    min-height: 0; 
    aspect-ratio: 1.33; 
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    font-size: 14px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.legend-item {
    display: flex;
    align-items: center;
    margin: 5px 10px;
    flex: 1 1 auto;
    min-width: 150px;
}

.legend-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    flex-shrink: 0;
}

.topbar {
    color: black;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 400px;
    margin-right: 3vw;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}

.topbar h1 {
    font-size: 4vw;
    font-weight: 400;
    color: #7e7e7e;
}

.content {
    padding: 20px;
    color: #333;
}

table {
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

.section {
    font-weight: bold;
}

.subsection {
    margin-left: 20px;
}

h2 {
    margin-top: 40px;
    text-align: center;
}

.rapport-container {
    padding: 30px;
    display: none;
}

.tab {
    display: none;
    width: 100%;
}

.tab.active {
    display: block;
}
